<template lang="pug">
  v-app
    welcome

</template>

<script>
import Welcome from './components/Welcome';

export default {
  components: {
    Welcome,
  },

  data: () => ({
    //
  }),
};
</script>
